body{
    margin-right: 20;
    margin-left:20;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: justify;
    color: rgb(5, 159, 18);
}

.custom-list {
    list-style-type: square; /* Example: square bullets */
    color: blue; /* Text color */
    padding-left: 20px; /* Adjust padding as needed */
    /* Add more styling as needed */
  }

img {
    border-radius:8px;
}